*{
  padding: 0%;
}
body {
  background: linear-gradient(45deg,#84f8c8f5,#ebe47cfa);
    display: flex;
    margin: 0;
    text-align: center;
    height: auto;
    justify-content: center;
  }
  
  h1 {
    color: navy;
    text-indent: lightsalmon;
    text-anchor: inherit;
    text-decoration: wavy;
    text-align: center;
    margin-bottom: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  form{
    display: block;
    background: rgba(255, 255, 255, 0.525);
    box-shadow: 5px 5px rgba(0, 0, 0, 0.3);
    padding: 55px 95px 68px;
    border-radius: 10px;
    color: #000;
  }
  .class1{
    font-size: 15px;
    margin-right: 10px;
    color: navy;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
input{
  
  height: 20px;
  font-size: 15px;
    color: navy;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
select{
  
  height: 20px;
  font-size: 15px;
    color: navy;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 5px;
}

